/* Start of Mobile/Default Version */

/* https://coolors.co/ffba49-baf2e9-bad7f2-e84855-ad85ff */

/*
font-family: 'Baloo 2', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Nanum Myeongjo', serif;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: #cce1f5;
}

h1{
  font-family: 'Nanum Myeongjo', serif;
  text-align:center;
  grid-area: h1;
  margin:0px;
  font-size:25px;
  padding-top:15px;
}

/* Style the header */


/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
      'h1'
      'right' 
      'header' 
      'left' 
      'footer1'
	    'footer2';
  gap:10px;
  background-color:#FAFAFA;
  padding-bottom: 10px;   
  border-radius: 25px; 
}

/* .grid-container > *{
  outline:2px solid black;
} */

.header {
  grid-area: header;
  color:#91121d;
  text-align: center;
  font-size: 15px;
  font-family: 'Fredoka One', cursive;  
  font-weight: 100;
  padding-top:15px;
}
  
 

.left,
.right,
.header,
.footer1, footer2 {
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
  padding:10px;
}


/* Style the right column */
.right {
  grid-area: right;
  margin:0px;
  padding:20px;
}

.right > img{
  border-radius: 25px;
  width:100%;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  background-color: #baf2e9;
  padding: 20px;
  text-align: center;
  border-radius:30px;
}

.footer2 {
  grid-area: footer2;
  color:#FAFAFA;
  font-size:40px;
  background-color: #e84855;
  padding: 10px;
  text-align: center;
  border-radius:30px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.footer1, .footer2{
  margin:0px 10px;
}


#question {
  font-size: 2em;
  font-weight:bold;
}

.choices{
  display:grid;
  gap:20px;
  width:100%;
  height:100%;
}

.options {
   font-size:1.5em;
   padding:0.8em 2.5em;
   color:#91121d;
   background-color:#ad85ff;
   gap:10px;
   font-weight:bold;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
}

.options:hover{
  background-color: #91121d;
  color:#ad85ff;
  cursor: pointer;
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);   
}

#message {
    width:80%;
    min-width:350px;
    padding:20px;
    background-color: #e84855;
    color:#FAFAFA;
    text-align:center;
    font-size:4em;
    font-weight:bold;
    border-radius: 25px;
    box-shadow:10px 10px 10px #00000044;
    /* vertically and horizontally center the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* end of Mobile/Default Version */


/* Desktop Version */
@media (min-width: 450px) {
  
  body{
    display:flex;
    justify-content: center;
  }

 .grid-container  {
    grid-template-areas:
      'h1 h1 h1 h1' 
      'header header header header' 
      'left left right right' 
      'footer1 footer1 footer2 footer2';
      width:1000px;
      gap:10px;
      padding:20px;
      box-shadow:10px 10px 10px #00000044;
  }
  h1{
    font-size:40px;
  }

  .right > img{
    width:80%;
  }
  .left{
    padding: 20px 10px 20px 50px;
  }

  .footer1, .footer2{
    height:100px;
  }


}/* end of Media Query / Desktop Version */
